.previewContainer
  display: flex
  border-radius: 16px

.certificate
  width: 800px
  max-width: 100%
  background-color: #fff
  padding: 40px
  border: 2px solid #ddd
  border-radius: 8px
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
  display: flex
  flex-direction: column
  overflow: hidden
  position: relative

.header
  display: flex
  
  margin-bottom: 20px

.logoimg
  margin-right: 10px
  

.universityInfo
  text-align: left

.universityName
  font-size: 16px
  font-weight: bold
  color: #000
  margin: 0
  line-height: 1.2

.studentLabel
  color: #d32f2f
  font-size: 24px
  margin: 10px 0

.studentName
  font-size: 36px
  font-weight: bold
  color: #2b2e83
  margin: 10px 0
  text-transform: uppercase

.signatureContainer
  
  margin-top: 30px

.signatureLine
  border-top: 1px solid #000
  width: 200px
  margin: 20px 0px 10px 0px

.signature
  font-size: 16px
  font-weight: bold
  color: #333

.signatureTitle
  font-size: 12px
  color: #666

.qrCode
  position: absolute
  bottom: 0px
  right: 10px
  width: 128px
  height: 128px
